<section>
  <div class="container padding-top">
    <%= link_to new_seller_product_path, class: "btn btn-info btn-icon-right waves-effect waves-light pull-right" do %>
      New Product
      <%= icon("arrow_forward") %>
    <% end %>
  </div>
</section>

<section class="container padding-bottom-3x">
  <!-- Product Table Here -->
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th width="20%">Function</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td scope="row"><%= product.id %></td>
            <td><%= render_image_by(product.photo, "thumb") %></td>
            <td><%= product.name %></td>
            <td><%= number_to_currency product.price %></td>
            <td><%= product.stock %></td>
            <td>
              <%= link_to "Edit", edit_seller_product_path(product), class: "btn btn-ghost btn-pill btn-sm btn-default waves-effect waves-light" %>
              <%= link_to "Delete", seller_product_path(product), method: :delete,
                class: "btn btn-ghost btn-pill btn-sm btn-default waves-effect waves-light", data: {confirm: "Are you sure?"} %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
