<section class="container padding-top-3x">
  <h1 class="space-top-half tablet-center">Bread Crumbs Here > Products</h1>
  <%= link_to new_seller_product_path, class: "btn btn-info btn-icon-right waves-effect waves-light pull-right" do %>
    New Product
    <%= icon("arrow_forward") %>
  <% end %>
</section>

<section class="container padding-bottom-3x">
  <!-- Product Table Here -->
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Stock</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td scope="row"><%= product.id %></td>
            <td><%= product.name %></td>
            <td width="60%"><%= product.description %></td>
            <td><%= number_to_currency product.price %></td>
            <td><%= product.stock %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
