<%= bootstrap_form_for [:seller, current_shop], url: seller_shop_path, remote: true do |f| %>
  <div class="col-sm-8 padding-bottom">
    <div class="row">
      <div class="col-sm-6">
        <h3>Shop Info:</h3>
        <%= f.text_field  :title %>
        <%= f.email_field :email %>
        <%= f.text_field  :subdomain %>
      </div>
      <div class="col-sm-6">
        <h3>Pay2go Info:</h3>
        <%= f.text_field :merchant_id, autocomplete: :off %>
        <%= f.text_field :hash_key,    autocomplete: :off %>
        <%= f.text_field :hash_iv,     autocomplete: :off %>
      </div>
    </div>
  </div>
  <!-- Sidebar -->
  <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom">
    <aside>
      <h3>Warning:</h3>
      <p class="text-sm text-gray">* Note: Please confirm your data is correct.</p>
      <%= f.submit "Submit", class: "btn btn-primary btn-block space-top-none" %>
    </aside>
  </div>
<% end %>
