<div class="container padding-top-3x padding-bottom-2x">
  <h2 class="space-top-half">Cart details</h2>
  <div class="table-responsive">
    <table>
      <thead>
        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= cart_item.name %>
              <%= render_image_by(cart_item.product, "thumb") %>
            </td>
            <td><%= cart_item.price %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= cart_item.price * cart_item.quantity %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2 class="space-top-half">Checkout Info</h2>
  <div class="row padding-top">
    <%= bootstrap_form_for @order do |f| %>
      <div class="col-sm-8 padding-bottom">
        <%= f.fields_for :info do |info| %>
          <div class="row">
            <div class="col-sm-6">
              <%= info.text_field :name %>
              <%= info.text_field :phone %>
            </div>
            <div class="col-sm-6">
              <%= info.email_field :email %>
            </div>
          </div>
          <%= info.text_field :address %>
        <% end %>
      </div>
      <!-- Sidebar -->
      <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom">
        <aside>
          <h3>Cart total:</h3>
          <h4><%= number_to_currency current_cart.total_price %></h4>
          <p class="text-sm text-danger">* Note: You can't modify order after the order is created.</p>
          <%= link_to cart_path, class: "btn btn-default btn-ghost icon-left btn-block" do %>
            <%= render_icon("arrow_back") %> Back To Cart
          <% end %>
          <%= f.submit "Checkout", class: "btn btn-primary btn-block space-top-none" %>
        </aside>
      </div>
    <% end %>
  </div>
</div>
