<div class="col-md-12">
  <div class="container padding-top">
    <h2>Product Info</h2>
    <div class="table-responsive">
      <table>
        <thead>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </thead>
        <tbody>
          <% @order.items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
              <td><%= item.quantity %></td>
              <td><%= item.subtotal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="pull-right">
      Total:
      <%= number_to_currency @order.total_price %>
    </div>
  </div>

  <div class="container padding-top">
    <div class="col-sm-4 padding-bottom">
      <h2>Shipping Info</h2>
      <ul>
        <li><%= @order.info_name %></li>
        <li><%= @order.info_phone %></li>
        <li><%= @order.info_address %></li>
      </ul>
      <%= render "facebook_login_button" %>
    </div>
    <div class="col-md-3 col-md-offset-1 col-sm-8 padding-bottom">
      <h2>Payment Methods:</h2>
      <aside>
        <p class="text-sm text-danger">* Note: This is test environment.</p>
        <p class="text-sm text-danger">* Test Card Number: 4000-2222-2222-2222</p>
        <% if @order.is_paid? %>
          <p class="text-success"> You have completed you payment. </p>
        <% elsif @order.code_no? %>
          <%= render_expire_time(@order) %>
          <%= render_bank_code(@order) %>
          <%= render_code_no(@order) %>
        <% else %>
          <% pay2go_service = Pay2goService.new(current_shop, @order) %>
          <%= render "pay_with_credit_card", order: @order, pay2go_service: pay2go_service %>
          <%= render "pay_with_atm",         order: @order, pay2go_service: pay2go_service %>
          <%= render "pay_with_7_11",        order: @order, pay2go_service: pay2go_service %>
        <% end %>
      </aside>
    </div>
  </div>
</div>
