<section class="container padding-top-3x padding-bottom">
  <h1 class="space-top-half">Shopping Cart</h1>

  <%= bootstrap_form_for current_cart do |f| %>
    <div class="row padding-top">
      <!-- Cart -->
      <div class="col-sm-8 padding-bottom-2x">
        <p class="text-sm">
          <span class="text-gray">Currently</span>
          <%= current_cart.cart_items.size %>
          <span class="text-gray"> in cart</span>
        </p>

        <div class="shopping-cart">
          <%= f.fields_for :cart_items do |item_form| %>
            <div class="item">
              <%= link_to product_path(item_form.object.product), class: "item-thumb" do %>
                <%= render_image_by(item_form.object.product, "medium") %>
              <% end %>
              <div class="item-details">
                <h3 class="item-title"><%= link_to item_form.object.name, product_path(item_form.object.product) %></h3>
                <h4 class="item-price"><%= item_form.object.price %></h4>
                <div class="count-input">
                  <a class="incr-btn" data-action="decrease" href="#">–</a>
                  <%= item_form.text_field :quantity, class: "quantity", hide_label: true, max: item_form.object.stock %>
                  <a class="incr-btn" data-action="increase" href="#">+</a>
                </div>
              </div>
              <% data = {confirm: "Are you sure?", toggle: "tooltip", placement: "top"} %>
              <%= link_to cart_item_path(item_form.object), method: :delete, class: "item-remove", title: "Remove", data: data do %>
                <%= render_icon("remove_shopping_cart") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
        <aside>
          <h3 class="toolbar-title">Cart subtotal:</h3>
          <h4 class="amount"><%= number_to_currency current_cart.total_price %></h4>
          <p class="text-sm text-gray">* Note: This amount does not include costs for international shipping. You will be able to calculate shipping costs on checkout.</p>
          <% if current_cart.items.size > 0 %>
            <%= f.submit "Update Cart", class: "btn btn-default btn-block" %>
            <%= link_to "Checkout", new_order_path, class: "btn btn-primary btn-block waves-effect waves-light space-top-none" %>
          <% end %>
        </aside>
      </div>
    </div>
  <% end %>
</section>
