<header class="navbar">
  <div class="navbar-header">
    <a href="index.html" class="site-logo visible-desktop">商店管理面板</a>
  </div>

  <div class="mobile-menu-wrapper">
    <div class="toolbar">
      <%= link_to render_icon("power_settings_new"), destroy_user_session_path, method: :delete %>
      <%= link_to render_icon("store"), products_url(subdomain: current_user.shop.subdomain) %>
      <div class="cart-btn">
        <%= link_to seller_orders_path do %>
          <i>
            <span class="material-icons loyalty"></span>
            <span class="count">2</span>
          </i>
        <% end %>
      </div>
    </div>

    <nav class="main-navigation">
      <ul class="menu">
        <li>
          <%= link_to seller_shop_path do %>
            <%= render_icon("business") %> Shop Info
          <% end %>
        </li>
        <li>
          <%= link_to seller_products_path do %>
            <%= render_icon("list") %> Products
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
