<!DOCTYPE html>
<html>
  <head>
    <title>Shopcurve</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr.custom' %>
  </head>

  <body>
    <%= popup_flash_message %>
    <div class="page-wrapper">
      <%= render "common/buyer_navbar" %>
      <main class="content-wrapper">
        <%= yield %>
        <%= render "common/footer" %>
      </main>
    </div>
  </body>
</html>
